---
import Layout from "@layouts/Layout.astro";
---

<style>
  p {
    font-size: 8rem;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 4px 4px 6px rgb(75, 89, 207);
    color: rgb(19, 19, 80);
    text-align: center;
  }
</style>

<Layout title="~kbnicholson">
  <p>keenan is me</p>
</Layout>
